In [ ]:
# TODO: import pandas and numpy here
# 
import pandas as pd
import numpy as np

Part 1: Setting up

1. Make a directory called data. Hint: use `mkdir`
2. Download the iris dataset into this folder.
The files can be found in 
https://archive.ics.uci.edu/ml/machine-learning-databases/iris/
3. Import the `iris.data` file as a csv. The csv file does not have an header included.
4. check the `iris.names` file. It has the names of the columns. Modify the column names in your dataframe to the column names given.
5. View your data. How many columns contain numbers? Use a pandas function to check it.
6. Get some statistics of your dataframe. Do we have missing data in the dataframe?
7. Convert the last column to integer values. Most machine learnin algorithms do not accept text. Use `df.replace`. Don't forget to perform these operations in-place

In [ ]:
# TODO: create a directory named "data"
!mkdir data

path ='/content/data'

mkdir: cannot create directory ‘data’: File exists

In [ ]:
# TODO: Download iris.names and iris..data from link provided. Hint: Use wget
!wget -P data https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

--2021-02-03 01:03:24--  https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4551 (4.4K) [application/x-httpd-php]
Saving to: ‘data/iris.data.1’

iris.data.1         100%[===================>]   4.44K  --.-KB/s    in 0s

2021-02-03 01:03:25 (168 MB/s) - ‘data/iris.data.1’ saved [4551/4551]

In [ ]:
!wget -P data https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names

--2021-02-03 01:03:30--  https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2998 (2.9K) [application/x-httpd-php]
Saving to: ‘data/iris.names.1’

iris.names.1        100%[===================>]   2.93K  --.-KB/s    in 0s

2021-02-03 01:03:31 (58.8 MB/s) - ‘data/iris.names.1’ saved [2998/2998]

In [ ]:
# TODO: read in the table. Save as a dataframe called "iris_df"
iris_df = pd.read_csv('/content/data/iris.data', sep=',')

In [ ]:
iris_df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
# TODO: Add column names to the dataframe.

iris_df1 = iris_df.rename(columns={'5.1' :'sepal length in cm' ,'3.5':'sepal width in cm', '1.4':'petal length in cm' ,'0.2':'petpal width in cm' ,'Iris-setosa':'Class'})

In [ ]:
iris_df1.head()

   sepal length in cm  sepal width in cm  ...  petpal width in cm        Class
0                 4.9                3.0  ...                 0.2  Iris-setosa
1                 4.7                3.2  ...                 0.2  Iris-setosa
2                 4.6                3.1  ...                 0.2  Iris-setosa
3                 5.0                3.6  ...                 0.2  Iris-setosa
4                 5.4                3.9  ...                 0.4  Iris-setosa

[5 rows x 5 columns]

In [ ]:
# How many examples are in the dataframe?

# TODO: print the length of the dataframe
#iris_df1.info()
#iris_df1.shape
len(iris_df1)

149

In [ ]:
## Test. DO NOT MODIFY THIS CELL

assert len(iris_df) == 150, "Length of dataframe is incorrect. You must have read the CSV wrongly"

In [ ]:
# Which columns does not contain numbers

# TODO: check the columns that contain numbers
iris_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sepal length in cm  149 non-null    float64
 1   sepal width in cm   149 non-null    float64
 2   petal length in cm  149 non-null    float64
 3   petpal width in cm  149 non-null    float64
 4   Class               149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [ ]:
# TODO: Get some statistics of your data. Are there any missing values?

In [ ]:
iris_df1.describe()

       sepal length in cm  ...  petpal width in cm
count          149.000000  ...          149.000000
mean             5.848322  ...            1.205369
std              0.828594  ...            0.761292
min              4.300000  ...            0.100000
25%              5.100000  ...            0.300000
50%              5.800000  ...            1.300000
75%              6.400000  ...            1.800000
max              7.900000  ...            2.500000

[8 rows x 4 columns]

In [ ]:
iris_df1.isnull().sum()

sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petpal width in cm    0
Class                 0
dtype: int64

In [ ]:
iris_df1['Class'] = pd.Categorical(iris_df1['Class'])
iris_df1['Class'] = iris_df1.Class.cat.codes
iris_df1.head()

   sepal length in cm  sepal width in cm  ...  petpal width in cm  Class
0                 4.9                3.0  ...                 0.2      0
1                 4.7                3.2  ...                 0.2      0
2                 4.6                3.1  ...                 0.2      0
3                 5.0                3.6  ...                 0.2      0
4                 5.4                3.9  ...                 0.4      0

[5 rows x 5 columns]

In [ ]:
### Tests. DO NOT MODIFY THIS COLUMN
import os

assert os.path.isdir('/content/data') == True, "Directory names `data` is not found"
assert os.path.isfile('/content/data/iris.data') == True, "No file named iris.data imported"
assert os.path.isfile('/content/data/iris.names') == True, "No file named iris.names imported"
assert iris_df.dtypes[-1] == np.array([0]).dtype, 'Some columns contain strings. Last column should cotain integers.'

print("All tests passed")

Part 2

We will be building a class which will help us easily collect some characteristics of the data.

In [ ]:
class IrisDataInfo:
  '''
  Helps to perform basic computation on a pandas dataframe.
  '''
  def __init__(self, df):
    self.df = df.copy() # TODO: load in the dataframe into the object
    self.mean = np.zeros(df.shape[1])
    self.std = np.zeros(df.shape[1])
  
  def __len__(self):
    # TODO: return the length of the dataframe
    length = len(self.df)
    # Return value is an integer
    return length

  def mean_df(self):
    # TODO: Calculate the mean of the dataframe columns. 
    self.mean = self.df.mean().values
    # If mean as previously computed, return the computed mean instead
    # The return value is a numpy array

    return self.mean

  def std_df(self):
    # TODO: Calculate the standard deviation of the dataframe columns. 
    self.std = self.df.std().values
    # If standard was previously computed, return the computed standard deviation instead
    # Return value is a numpy array

    return self.std

  def get_data(self, index):
    # TODO: Return the data examples in specific indexes of the dataframe. 
    self.index = index
    indexes =  self.df.iloc[self.index]
    # `index` can be an integer, a list, or a numpy array
    # Return value is a pandas dataframe
    return indexes

  def shuffle_df(self, reset_index=True):
    # # TODO: Return a randomly shuffled version of the dataframe. Use the default seed while shuffling
    self.df = self.df.sample(frac=1)
    self.df.reset_index(drop=True,inplace=True)
    # If reset_index, reset the indexes to start from 0. 
    # Previous indexes should not be part of the dataframe
    # Return value is a pandas dataframe

    return self.df

  def sample_df(self, num_sample=10, seed=0):
    # TODO: Return a partial sample of your dataframe. Sampling is important when doing bootstrapping
    PartialSample = self.df.sample(num_sample)
    PartialSample.reset_index(drop=True,inplace=True)
    # You should also reset the index
    # Return value is a pandas dataframe

    return PartialSample

  def normalize_df(self):
    # TODO: Return a normalized version of the dataframe.
    Norm = self.df- self.mean/self.std
    # To normalize the dataframe, subtract the mean and divide by the standard deviation
    # Return value is a pandas dataframe
    
    return Norm

In [ ]:
## DO NOT MODIFY. CHECK YOUR ANSWER WITH THIS

iris_class = IrisDataInfo(iris_df)

assert np.allclose(iris_class.mean_df().sum(), 15.8546) == True, "Mean is incorrect"
assert iris_class.mean.sum() ==  iris_class.mean_df().sum(), "Mean is not calculated"

assert iris_class.std_df().sum() == 4.60847352151218, "Standard deviation is incorrect"
assert iris_class.std.sum() == iris_class.std_df().sum(), "Standard deviation is not well"

assert len(iris_class) == 150, 'Length of dataframe is incorrect'
assert np.allclose(iris_class.normalize_df().mean().sum(), 0)  == True, "Dataframe was not properly normalized"
assert iris_class.sample_df().mean().sum() != iris_class.sample_df().mean().sum(), "Sampling was not implemented correctly"

print("All tests passed")

## OPTIONAL: Ignore if you are so tired

Part 3: Let's do something useful with our class

a. We want to track which features (columns) are correlated. Which feature has the highest correlation with the class/label.

In [ ]:
# Calculate the correlation between different columns.

def find_highest_corr_feature(obj: IrisDataInfo):
  ##TODO: Given the iris_dataset object, 
  ## a) calculate the correlation matrix between each features
  ## b) Extract the value the feature with highest correlation with label
  ## c) also, find the feature name

  corr_df = obj.df.corr()
  max_corr = 
  corr_class =
  ###################################
  return corr_class, max_corr

In [ ]:
## Test. DO NOT MODIFY. CHECK YOUR ANSWER WITH THIS

assert np.allclose(find_highest_corr_feature(iris_class)[1], 0.649101) == True, "Find_highest_corr_feature not properly implemented"

# CONGRATS, YOU HAVE COME TO THE END